<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landmarks - New</title>
  </head>
  <body>
    <form action="/landmarks" method="post">
      <label for="name">Name:</label> <input type="text" name="landmark[name]" id="landmark_name">
      <br></br>
      <label for="year_completed">Year Completed:</label> <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
      <br></br>
      <button type="submit" name="Create New Landmark">Create New Landmark</button>
    </form>
  </body>
</html>
